{% extends "layout1.html" %} 
{% block content %}

<h3 class="display-4">Datos de línea</h3>
<p>Seleccione el archivo en formato <strong>.xls</strong> o <strong>.xlsx</strong> con los datos de la línea.</p>
<hr>
<br>
<div align="center">
    <form action="/line" method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
        <input type="file" name="archivo_linea" required="required" class="alert-secondary">
        <input type="submit" class="btn-dark" value="Cargar">
    </form>
</div>

{% endblock %}